//----------------------------------------------------------------------------------------------------------------------------------------------------
// Common styling that is applied to all Google websites (currently Google search, Gmail, Inbox, and YouTube)
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Skin blackout while loading
.flyr-o, .flyr-w {
	background-color: $theme-background !important;
	color: White !important;
}

// Topbar
// .gb_be, 
// .eU5T0b, 
// .gb_ce,
header.gb_Va,
header.gb_Va > div,
header.gb_Wa,
header.gb_Wa > div,
header.gb_ja,
header.gb_ja > div,
header.gb_Ta,
header.gb_Ta > div {
	background-color: $theme-background-toolbar !important;
	border-top: 1px solid #dadce0 !important;
}
.gb_de, 
header[role="banner"],
header.gb_na,
header.gb_na > div {
	background-color: $theme-background-toolbar !important;
}
header.gb_Ta {
	@include invert-back();
}

// Searchbar
// .gb_0e:not(.gb_3c),
input.gb_pf,
.gb_af {
	background-color: transparent !important;
}
// Search buttons
.gb_0e:not(.gb_Me) button {
	background: transparent !important;
}

// Right toolbar
.companion-app-switcher-container {
	background-color: $theme-background-toolbar !important;
}

// Sign in
//.gb_Ha,
.gb_Fa {
	background: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// User drawer, when signed in to an enterprise account
.gb_fa {
	background-color: $theme-background-box !important;
}
// Company logo
.gb_fa img.gb_ma {
	background-color: white !important;
	border-radius: 3px !important;
}

// Menu and user "buttons"
#gb#gb a.gb_C {
	background-color: transparent !important;
}
#gb#gb a.gb_C:hover {
	background-color: rgba(60,64,67,.08) !important;
}

// User drawer
.gb_ge .gb_vb {
	@include invert-back();
}
.gb_vb,
.gb_E, 
.gb_z {
	background: $theme-background-box !important;
}
.gb_vb > div,
.gb_vb > div > a,
.gb_vb > div > div{
	background: $theme-background-box !important;
}
// List of signed in users
.gb_sb .gb_yb, 
.gb_Mb {
	background-color: $theme-background-box !important;
}
// Add account and signout part
.gb_jb, 
.gb_sb {
	background-color: $theme-background-box !important;
}
.gb_0, 
.gb_Db.gb_Db, .gb_Eb.gb_Eb,
.gb_4, 
#gb a.gb_4.gb_4, 
.gb_5 {
	background: $theme-button-background !important;
	border-color: $theme-button-background !important;
	color: $theme-button-text !important;
}

// "Google account" button
.gb_Ab .gb_Hb,
.gb_3a .gb_0,
.gb_8a .gb_4, 
.gb_3a .gb_0:hover {
	background: $theme-button-background !important;
	border-color: $theme-button-background !important;
	color: $theme-button-text !important;
}

// Site logo
.gb_Be img,
img.gb_uc {
	filter: invert(1) !important;
}
// Site name, eg. "Calendar" or "Drive"
.gb_vc .gb_0c:before {
	@include invert-back();
}
.gb_ne {
	color: $theme-text !important;
}

// User avatar on toolbar
.gbii {
	@include invert-back();
}
// Menu drawer
.gb_I,
.gb_l.gb_1a.gb_2a,
.gb_wb.gb_wb,
.gb_J {
	background: $theme-background-box !important;
}
.gb_d .gb_p,
.gb_d .gb_b {
	@include invert-back();
}
// Menu, App-drawer and Notification icons
.gb_yc svg,
.gb_Ta svg, 
.gb_jc svg,
.gb_lc svg,
.gb_fe svg,
.gb_kc svg,
.gb_Xa svg,
.gb_na svg,
.gb_Ec svg,
.gb_Rc .gb_de,
.gb_oc svg {
	color: invert-back-color($theme-text) !important;
	fill: invert-back-color($theme-text) !important;
}
.gb_c .gb_k,
.gb_c .gb_a,
.gb_W {
	@include invert-back();
}

// Google logo
.uuRyud {
	@include invert-back();
}

// Left sidepanel
.Kk7lMc-Yb-Il-j {
	background-color: $theme-background-toolbar !important;
}

// OLD!! 
// Profile image and Google logo
#gb#gb a.gb_b.gb_cb.gb_R,
.gbip,
.gb_9b .gb_bc,
span.gb_6b,
.gb_9b .gb_zc,
.gb_ac .gb_Ac,
.gb_vf .gb_b:not(.gb_fb),
.gb_ec,
.gb_ac .gb_Bc:before,
#mainlogo {
	@include invert-back();
}
.gb_vc svg, .gb_hc svg {
	color: white !important;
}

// User avatar on the menu (when clicking the avatar on the toolbar)
.gbip {
	@include invert-back();
}

// "My account" button
.gb_xb .gb_Db,
.gb_Cb .gb_Jb {
	background: $theme-button-background !important;
	border-color: $theme-button-background !important;
	color: black !important;
	&:hover {
		filter: brightness(0.9) !important;
	}
}

// Nofitications popup
.gb_Xb, #gbsfw.gb_g {
	filter: invert(0) !important;
}

// Grid popup in toolbar
// .gb_ga .gb_2,
// .gb_ga .gb_M {
// 	@include invert-back();
// }
// .gb_O .gb_2,
// .gb_M {
// 	@include invert-back();
// }
.gb_ha {
	box-shadow: 0 2px 10px transparentize($theme-button-background, 0.8) !important;
}