//----------------------------------------------------------------------------------------------------------------------------------------------------
// Personal Variables
//----------------------------------------------------------------------------------------------------------------------------------------------------
$noColor: transparent;

//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

.cropped-image-map, .image-map, .shogun-widget, .cropped-image-map-center-alignment{
  z-index: -1;
}

header, #navFooter, i, .a-color-success {
  @include invert-back()
}


// All inputs
input[type="submit"]{
  background-color: $noColor !important;
}

//NavFlyoutBar
#nav-flyout-shopAll{
  background-color: $theme-background-box !important;
  z-index: 2 !important;
}
#nav-subnav, #nav-iss-attach , #searchDropdownBox{
  background-color: $theme-background !important;
}
//----------------------------------------------------------------------------------------------------------------------------------------------------
// 3rd Party Extensions Support
//----------------------------------------------------------------------------------------------------------------------------------------------------
div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }