//----------------------------------------------------------------------------------------------------------------------------------------------------
// Personal Variables
//----------------------------------------------------------------------------------------------------------------------------------------------------
$noColor: transparent;

//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

header, #navFooter {
  @include invert-back()
}

// All inputs
input[type="submit"]{
  background-color: $noColor !important;
}

//NavFlyoutBar
#nav-flyout-shopAll {
  background-color: #0f0b06;
}
#nav-subnav{
  background-color: invert($white);
}
//----------------------------------------------------------------------------------------------------------------------------------------------------
// 3rd Party Extensions Support
//----------------------------------------------------------------------------------------------------------------------------------------------------