//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button, .btn.btn-primary, .top-nav__button > a {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// All inputs
input {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

// Logo
.logo{
	-webkit-filter: invert(1) !important;
}

// Backdrops on popups
.modal-backdrop {
	background-color: #fff !important;
}

.text-warning, .notification.warning {
	color: $theme-button-background !important;
}

// Feedback button
.next-beta {
	background-color: $theme-button-background !important;
}
.next-beta a {
	color: $theme-text !important;
}

// Status buttons and stuff
.label-success {
	background-color: $theme-highlighted !important;
}
.switch:after, .switch:before {
	background-color: invert-back-color(#9bca3e) !important;
}
.switch:before {
	background-color: #bcbcbc !important;
}

.text-info, .text-success {
	color: $theme-highlighted !important;
}

footer {
	background-color: $theme-background-toolbar !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Toolbar
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Toolbar background
.header-main {
	background: $theme-background !important;
}
.gradient-bar-header {
	background-color: $theme-button-background !important;
	background-image: $theme-button-background !important;
}

// Dropdowns
.header-navigation .open .dropdown-toggle, .zones-picker.open .current-zone {
	background-color: rgb(225, 225, 225) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Sites, not logged in
//----------------------------------------------------------------------------------------------------------------------------------------------------

.homepage-video-modal {
	background-color: $theme-background !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Overview
//----------------------------------------------------------------------------------------------------------------------------------------------------

.site-status .info.success {
	background-color: $theme-highlighted !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Analytics
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Share
.analytics-share-box, .analytics-share-box .tabs li.active a{
	background-color: $theme-highlighted !important;
}
.analytics-share-box .tabs a{
	background-color: $theme-highlighted-darker !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// DNS
//----------------------------------------------------------------------------------------------------------------------------------------------------

.proxy .cloud {
	-webkit-filter: invert(1) !important;
}
.dns-type-a .dns-type-cell{
	color: invert-back-color(#333) !important;
}
.dns-type-aaaa .dns-type-cell{
	color: invert-back-color(#7c7c7c) !important;
}
.dns-type-cname .dns-type-cell {
	color: invert-back-color(#ff7900) !important;
}
.dns-type-mx .dns-type-cell {
	color: invert-back-color(#d91698) !important;
}
.dns-type-txt .dns-type-cell {
	color: invert-back-color(#9bca3e) !important;
}
.dns-type-srv .dns-type-cell{
	color: invert-back-color(#bd2527) !important;
}
.dns-type-ns .dns-type-cell{
	color: invert-back-color(#9545e5) !important;
}
.dns-type-loc .dns-type-cell{
	color: invert-back-color(#62a1d8) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Crypto
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Firewall
//----------------------------------------------------------------------------------------------------------------------------------------------------

.tabs a:before {
	border-top-color: $theme-highlighted !important;
}
.tabs li.active a {
	background-color: $theme-highlighted !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Speed
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Caching
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Page Rules
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Network
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Traffic
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Customize
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Apps
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Scrape Shield
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Settings
//----------------------------------------------------------------------------------------------------------------------------------------------------

