//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button,
.jfk-button-action,
.ep-ea .goog-imageless-button {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}
.modal-dialog-buttons > button[name="ok"],
.jfk-button-action {
	background: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// All inputs
input {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

// Links
[role="link"],
.lk-button {
	color: $theme-link !important;
}

.trans-strip {
	background: transparent !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Toolbar
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Toolbar background
.gb_uf,
#vr-nav,
#mainnav,
#calmaster{
	background: $theme-background !important;
	border-color: $theme-background !important;
}

// App Drawer
.gb_2,
.gb_M {
	@include invert-back()
}

// Profile image and Google logo
#gb#gb a.gb_b.gb_cb.gb_R,
.gbip,
span.gb_6b,
#mainlogo {
	@include invert-back()
}

// Nofitications popup
.gb_Xb, #gbsfw.gb_g {
	filter: invert(0) !important;
}

// "My Account" button
.gb_sb .gb_yb {
    background: $theme-button-background !important;
    border-color: $theme-button-background !important;
	color: black !important;
	&:hover {
		filter: brightness(0.9) !important;
	}
}

// Searchbar
#gbqfb {
    background: $theme-button-background !important;
    border-color: $theme-button-background !important;
    color: $theme-button-text !important;
}
.gstl_50.gstt input {
	background: transparent !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Sidebar
//----------------------------------------------------------------------------------------------------------------------------------------------------
// "Calendar" text on top of sidebar
#mainlogo {
	color: invert($theme-button-background) !important;
}

// Color identifiers in sidebar
.calListRow[aria-selected="true"] .calListSquare {
	@include invert-back()
}

// Create event button
#createEventButtonContainer [role="button"] {
    background: $theme-button-background !important;
    border-color: $theme-button-background !important;
    color: black !important;
}

// Foldables
.dpdiv,
.chromeColor,
.calList,
.calListRow,
.calHeader {
	background: transparent !important;
	border-color: transparent !important;
}

// Monthly calendar on the left side: remove black background from days
.dp-weekday {
	background: transparent !important;
}

// Search box
#searchAddCalBox {
	background: transparent !important;
	border-color: transparent !important;
}

// Colorpicker
.ccp-rb-color,
.goog-hsv-palette-sm-hs-image,
.ccc-text,
.goog-hsv-palette-sm-swatch,
.goog-hsv-palette-sm-v-image {
	@include invert-back()
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Calendar
//----------------------------------------------------------------------------------------------------------------------------------------------------

#gridcontainer {
	background-color: $theme-background-box !important;
}
#mainbody,
.mv-daynames-table,
.mv-event-container,
.mv-container,
.st-dtitle {
	background-color: transparent !important;
}

.st-bg-today {
	background-color: $theme-background-toolbar !important;
}

// The events in the calendar
// Month-view & 2-week-view
#calcontent.eui-t .st-c .te, #calcontent.eui-t .st-c .rb-n {
	@include invert-back()
}
// Week-view & Day-view
.chip dl {
	@include invert-back()
}
// Agenda-view
.lv-event-title {
	@include invert-back()
}

// Day/week view: horizontal line that shows the time now
.tg-nowmarker {
	border-color: $theme-link !important;
}

// Day/week view: grid that shows horizontal line every 30 minutes
.tg-dualmarker, .tg-dualmarker60 {
	border-color: darken($theme-background, 9%) !important;
}

// Events in top (non-hour) part of calendar: don't show ugly blue border
#calcontent.eui-t .st-c .te, #calcontent.eui-t .st-c .rb-n {
	border-color: transparent !important;
}

// Events in calendar: don't show ugly blue border
.chip dl {
	border-color: transparent !important;
}

// Style the calendar's background
// #calmaster = the entire page, scrollbar sometimes appear on page load
// #scrolltimedeventswk = the calendar, scrollbar appears on day/week view
// #gridcontainer = the calendar, scrollbar appears on agenda view
#scrolltimedeventswk, #calmaster, #gridcontainer {
	&::-webkit-scrollbar {
		width: 10px !important;
	}

	&::-webkit-scrollbar-track {
		border: none !important;
		background: invert($track-background) !important;
	}

	&::-webkit-scrollbar-thumb {
		background: darken($theme-background-toolbar, 10%) !important;
		border: none !important;
		box-shadow: none !important;
	}
}
//----------------------------------------------------------------------------------------------------------------------------------------------------
// Add/create event
//----------------------------------------------------------------------------------------------------------------------------------------------------

.ep-dp,
.ep-sp,
.ep-ts .ui-dtsr-selected {
	background-color: $theme-background-box !important;
	border-color: $theme-background-box !important;
}