//----------------------------------------------------------------------------------------------------------------------------------------------------
// Google search skin for Darkness
//----------------------------------------------------------------------------------------------------------------------------------------------------
@import "all-google.scss";


//----------------------------------------------------------------------------------------------------------------------------------------------------
// Common
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Generic text color
span,
div,
em,
input
{
	color: $theme-text !important;
}

body {
	background: $theme-background !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Homepage
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Big Google Logo
#hplogo img {
	@include invert-back()
}
#hplogo {
	@include invert-back()
}

// But no the "UK / Belgium" underneath the logo
#hplogo div {
	@include invert-back()
}

// Buttons below search (Google Search, I'm feeling lucky)
.jsb input[type="submit"] {
	background: $theme-button-background !important;
	&:hover {
		background: darken($theme-button-background, 5%) !important;
	}
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Search box (homepage / search page)
//----------------------------------------------------------------------------------------------------------------------------------------------------

// New Google fixed toolbar: fixed background
.minidiv .sfbg {
	background: $theme-background-toolbar !important;
	box-shadow: 0 1px 6px 0 rgba(255,255,255,0.22) !important;
}

// December 2020 fix
#top_nav, #top_nav > div, #hdtb, .yg51vc, .sfbg, .s8GCU, .Lj9fsd, .jZWadf {
	background: $theme-background-toolbar !important;
}

// New Google fixed toolbar: logo
.logo > a > img {
	opacity: 0.5 !important;
}

// Search box border
.sbfcn {
	border-color: darken($theme-button-background, 10%) !important;
}

// Search bar
.sbibod,
.RNNXgb {
	box-shadow: none !important;
	background-color: $theme-textbox-background !important;
}

// Search box fill
.sbib_a, .sbib_b, .aajZCb, .zthhpf {
	background-color: $theme-textbox-background !important;
}

// Magnifying glass button
.sbibod button.sbico-c {
	background-color: $theme-textbox-background !important;
}

// Magnifying glass icon
.sbibod button.sbico-c svg {
	-webkit-filter: none !important;
	color: $theme-link !important;
}

// Magnifying glass button
#sblsbb {
	background: $theme-button-background !important;
	// Magnifying glass icon inside
	.sbico {
		@include invert-back();
	}
}
.KXJfe {
	background-color: transparent !important;
}

// New Google fixed toolbar: magnifying glass icon
.Tg7LZd {
	background-color: transparent !important;
	svg {
		-webkit-filter: none !important;
	}
}

input.gLFyf {
	background-color: transparent !important;
}

// Microphone icon
.gsri_a,
.hb2Smf {
	opacity: 0.8 !important;
	@include invert-back()
}


// Camera icon
.gsst_e {
	opacity: 0.3 !important;
}

// Autocomplete box border
.sbdd_b {
	background-color: $theme-border !important;
	border-color: solid 1px $theme-border !important;
	box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2) !important;
}

// Autocomplete box fill
.sbsb_a {
	background-color: $theme-textbox-background !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Toolbar
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Toolbar with search bar
.sfbgg {
	background-color: $theme-background-toolbar !important;
	border-color: $theme-border !important;
}

// About 222,222 results (0.2 seconds)
#appbar {
	background-color: $theme-background !important;
}

// Header: All | Videos | Images | News | Maps...
#hdtbSum {
	background-color: $theme-background-toolbar !important;
	border-color: $theme-border !important;
	a:hover {
		color: darken($theme-link, 10%) !important;
	}
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Footer
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Footer
#fbar {
	background-color: $theme-background !important;
	border-color: $theme-border !important;
}

// Gooooooogle pagination on bottom
#foot #navcnt span.csb, .SJajHc {
	@include invert-back()
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Search results
//----------------------------------------------------------------------------------------------------------------------------------------------------

// URLs
cite {
	color: $theme-url !important;
}

// Down arrow next to URL
.ab_button {
	background-color: $theme-background-toolbar !important;
	border-color: $theme-border !important;
}

.ab_button span {
	border-color: $theme-url transparent !important;
}

// Colorpicker
._k3m,
._p4n,
.kdPwrb,
.NYcQFd,
.rnt3Ze,
._Nzn, ._EBn,
.kyN4Jf3TGqF__slider-background {
	@include invert-back();
}

// Product images
.pla-unit-img-container img {
	background-color: white !important;
}

// Stories
g-inner-card {
	background-color: $theme-background-box !important;
}
g-right-button,
g-left-button {
	g-fab {
		background-color: $theme-background-toolbar !important;
		box-shadow: 0 0 0 1px rgba(200,200,200,0.04), 0 4px 8px 0 rgba(200,200,200,0.20) !important;
	}
}

// Rich cards
.cu-container .mnr-c {
	&,
	.pla-unit-img-container {
		background-color: $theme-background-box !important;
	}
}

// Hightlights
.s .st em, .st.s.std em {
	color: $theme-url !important;
}

// Video results, summary
.Xeztj, .MGqjK, .YSlUOe {
	background: $theme-background !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Knowledge graph box on the right
//----------------------------------------------------------------------------------------------------------------------------------------------------
// "More images" link
._iH {
	background: rgba(255, 255, 255, 0.4) !important;
	a {
		text-shadow: 0 0 2px white, 0 0 3px white !important;
	}
}

// The box itself
.kp-blk, .I6TXqe {
	background: $theme-background-box !important;
	box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2) !important;
}

// Product showcase
.jackpot-main-content-container {
	img {
		background-color: white !important;
	}
}
.commercial-unit-desktop-rhs {
	background-color: $theme-background-box !important;
}

// Review-summaries
.l2gNXd {
	@include invert-back();
}
.tPhRLe span {
	@include invert-back();
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Knowledge graph box on top (e.g. list of actors
//----------------------------------------------------------------------------------------------------------------------------------------------------
// "More images" link
.kappbar {
	background: $theme-background-box !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Color Search
//----------------------------------------------------------------------------------------------------------------------------------------------------

._p4n {
	-webkit-filter: invert(0) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Image Search
//----------------------------------------------------------------------------------------------------------------------------------------------------
// Image preview when clicking it
#irc_cc {
	background-color: $theme-background-box !important;
}

// Arrow to image preview (when clicking image)
#irc_pc {
	border-color: $theme-background-box !important;
}

// Buttons: visit page, view image, save
.irc_but {
	background: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// Preview box: next / prev navigation arrows
._GKb div {
	@include invert-back()
}

// Image info line, when hovering over an image
.rg_anbg, .rg_ilmbg {
	background: rgba(220, 220, 220, 0.8) !important;
}

// Related searches
.hjTnPc .F9PbJd {
	background: $theme-background-toolbar !important;
}
.ndYZfc + div:not([class*=""]) {
	background-color: $theme-background-box !important;
}
.cEW58 {
	background-color: $theme-background-toolbar !important;
}

// Results-background
body > .T1diZc.KWE8qe {
	background: $theme-background !important;
}
// Preview background
.WaWKOe, .mfkH6e, .qdnLaf, .QnfS4e {
	background-color: $theme-background-box !important;
}
// Preview buttons
.h04bR, .dJcyOc {
	background-color: $theme-highlighted-darker !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Google Charts
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Chart legend color
.Zd1D1e {
	.E2u4Dc {
		@include invert-back()
	}
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// 3rd Party Extensions Support
//----------------------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------
// WOT (Web of Trust)
// https://chrome.google.com/webstore/detail/wot-web-of-trust-website/bhmmomiinigofkjcapegjjndpbikblnp
//-------------------------------------------------------------------------
a ~ [wotsearchtarget] {
	@include invert-back();
}

.wot-rep {
	@include invert-back();
}

#wot-cat-list .cat-item:before {
	@include invert-back();
}