@import "all-google.scss";
//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

html.gr__docs_google_com body {
	background-color: transparent !important;
}

// All buttons
button, .gb_qb .gb_wb {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}
.goog-buttonset-default {
	-webkit-filter: invert(1) !important;
}
.jfk-button-action {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
	-webkit-filter: invert(1) !important;
}
.jfk-button-action.jfk-button-disabled {
	-webkit-filter: invert(0) !important;
}
.gbip {
	-webkit-filter: invert(1) !important;
}
.docs-material-appbar #docs-titlebar-share-client-button .jfk-button {
	-webkit-filter: invert(0) !important;
}

// All inputs
input {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

iframe {
	-webkit-filter: invert(0) !important;
}

// Icons
.docs-icon, .docs-homescreen-icon, .docs-icon-img, #logo {
	-webkit-filter: invert(1) !important;
}
.docs-icon-text-color, .docs-icon-fill-color, .docs-icon-spreadsheet, .docs-icon-excel {
	-webkit-filter: invert(0) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Overview
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Toolbar
.gb_dd.gb_id.gb_kd,
.docs-homescreen-gb-container header,
.docs-homescreen-gb-container header > div,
.gb_xc:not(.gb_sb) .gb_Bd, 
.gb_2d,
.docs-material-appbar #docs-header .docs-titlebar-buttons {
	background-color: $theme-background-toolbar !important;
}

// Undo color-change in menu on some icons
.docs-homescreen-nav-settings-24, .docs-homescreen-nav-help-24 {
	-webkit-filter: invert(1) !important;
}

// Action buttons when viewing list of documents
.docs-homescreen-floater-header-buttons {
	-webkit-filter: invert(1) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Toolbar
//----------------------------------------------------------------------------------------------------------------------------------------------------

#docs-chrome {
	background-color: $theme-background-toolbar !important;
}
#docs-branding-container {
	-webkit-filter: invert(1) !important;
}
.docs-title-widget > input {
	background-color: transparent !important;
	border: 1px solid $theme-background-toolbar;
}
#docs-star {
	-webkit-filter: invert(1) !important;
}
.gb_hd.gb_md.gb_od {
	background-color: $theme-background-toolbar !important;
}
// Reverts the different google-logos
.gb_3, .gb_M {
	-webkit-filter: invert(100%) !important;
}
.goog-palette-cell {
	-webkit-filter: invert(100%) !important;
}
// Searchbar
.gb_ae .gb_0e::-webkit-input-placeholder,
.gb_2d .gb_Pe::-webkit-input-placeholder {
	color: $theme-textbox-text !important;
}
.gb_2d .gb_xe {
	background-color: $theme-textbox-background !important;
	border: 0px solid transparent !important;
}
.gb_xe button {
	border-radius: 4px 0 0 4px !important;
}
.gb_Hd.gb_Sd .gb_Dd .gb_xe {
	margin: 0 auto !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Docs
//----------------------------------------------------------------------------------------------------------------------------------------------------

// The actual document
.kix-page {
	-webkit-filter: invert(1) !important;
	box-shadow: 0 0 5px #aaa;
}
// Inserted images
.kix-embeddedobject-image {
	-webkit-filter: invert(0) !important;
}

// Colorpicker
.jfk-palette-colorswatch {
	-webkit-filter: invert(1) !important;
}

// Explore
.docs-explore-sidebar-title {
	background-color: $theme-highlighted !important;
}
.docs-explore-icon path {
	fill: invert-back-color($theme-highlighted) !important;
}
.waffle-assistant-entry-button-green-icon,
.waffle-assistant-entry-label {
	-webkit-filter: invert(1) !important;
}

// The cursor
.kix-cursor {
	-webkit-filter: invert(1) !important;
}

// Colab
.docs-presence-plus-collab-widget-color-block {
	-webkit-filter: invert(1) !important;
}
.docs-presence-plus-collab-widget-color-block > div {
	-webkit-filter: invert(1) !important;
}

// Spelling errors
.kix-spelling-error-overlay {
	-webkit-filter: invert(0) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Sheets
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Editing a cell
div.input-box[aria-hidden="false"] {
	-webkit-filter: invert(1) !important;
}

// Color picking in conditional formatting
.goog-palette-cell > div {
	-webkit-filter: invert(1) !important;
}
.waffle-conditionalformat-format-button-inner {
	-webkit-filter: invert(1) !important;
}
.waffle-sidebar-title {
	background-color: $theme-highlighted !important;
}
.goog-color-menu-button-indicator {
	-webkit-filter: invert(1) !important;
}
.goog-color-menu-button-indicator > div {
	-webkit-filter: invert(1) !important;
}

// conditional formatting
// red
.waffle-conditionalformat-format-preview[style*='background-color: rgb(183, 225, 205)'],
.waffle-conditionalformat-default-style-button[style*='background-color: rgb(183, 225, 205)'] {
	background-color: invert-back-color(rgb(183, 225, 205)) !important;
}
.waffle-conditionalformat-format-preview[style*='rgb(11, 128, 67)'],
.waffle-conditionalformat-default-style-button[style*='rgb(11, 128, 67)'] {
	color: invert-back-color(rgb(11, 128, 67)) !important;
}
// yellow
.waffle-conditionalformat-format-preview[style*='background-color: rgb(252, 232, 178)'],
.waffle-conditionalformat-default-style-button[style*='background-color: rgb(252, 232, 178)'] {
	background-color: invert-back-color(rgb(252, 232, 178)) !important;
}
.waffle-conditionalformat-format-preview[style*='color: rgb(240, 147, 0)'],
.waffle-conditionalformat-default-style-button[style*='color: rgb(240, 147, 0)'] {
	color: invert-back-color(rgb(240, 147, 0)) !important;
}
// green
.waffle-conditionalformat-format-preview[style*='background-color: rgb(244, 199, 195)'], 
.waffle-conditionalformat-default-style-button[style*='background-color: rgb(244, 199, 195)'] {
	background-color: invert-back-color(rgb(244, 199, 195)) !important;
}
.waffle-conditionalformat-format-preview[style*='color: rgb(197, 57, 41)'], 
.waffle-conditionalformat-default-style-button[style*='color: rgb(197, 57, 41)'] {
	color: invert-back-color(rgb(197, 57, 41)) !important;
}

// Collab
.waffle-collab-presence {
	-webkit-filter: invert(1) !important;
}
.cell-border[style*='top: -1px;'],
.cell-border[style*='left: -1px;'] {
	-webkit-filter: invert(1) !important;
}
div.selection-border,
div.active-cell-border,
.autofill-handle {
	-webkit-filter: invert(1) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Slides
//----------------------------------------------------------------------------------------------------------------------------------------------------

// White font and cursor in notes
#speakernotes .sketchy-text-content-text text {
	fill: #fff !important;
}
#speakernotes rect.docs-text-ui-cursor-blink{
	fill: #fff !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Forms
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Colored bar in the top
.freebirdHeaderMastWithOverlay {
	-webkit-filter: invert(1) !important;
}
// The form
.freebirdFormeditorViewEditingsurfaceCentered {
	-webkit-filter: invert(1) !important;
}
// Color-picker
.freebirdFormeditorViewColorpaletteContainer {
	-webkit-filter: invert(1) !important;
}
iframe img {
	-webkit-filter: invert(1) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Drawings
//----------------------------------------------------------------------------------------------------------------------------------------------------

#canvas-container {
	-webkit-filter: invert(1) !important;
}