//----------------------------------------------------------------------------------------------------------------------------------------------------
// Google Inbox skin for Darkness
//----------------------------------------------------------------------------------------------------------------------------------------------------
@import "all-google.scss";

//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button {
	//background-color: $theme-button-background !important;
	background-color: transparent !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// All inputs
input {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Toolbar
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Toolbar areas
.hn.b4 {
	background: $theme-background-toolbar !important;
}
// When accessing "done" mails, the toolbar changes class and color
.cb {
	background: $theme-url !important;
}
// Toolbar shadow
.hn:before {
	box-shadow: 0 0 4px rgba(255,255,255,.14),0 4px 8px rgba(255,255,255,.28) !important;
}
// User profile image
.gbii, .gbip {
	-webkit-filter: invert(100%) !important;
}

// The app-drawer
.gb_ga {
	-webkit-filter: invert(0%) !important;
	background-color: $theme-background-box !important;
}
// Reverts the different google-logos
.gb_3, .gb_M {
	-webkit-filter: invert(100%) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Icons & buttons
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Changes the color of icons to a visible one
.gN, .du > img, .iG > .Kc > img, .iK > li > img, .g-aq-al > img, .bG > img, .qY, .e6 > img, .tD > img {
	-webkit-filter: invert(0%) !important;
}
// send button
.qj:not([disabled]) {
	background-color: $theme-secondary-button-background !important;
	color: $theme-button-text !important;
}
// new mail button
.hC, .oX{
	background-color: $theme-button-background !important;
	box-shadow: 0 0 4px rgba(255,255,255,.14),0 4px 8px rgba(255,255,255,.28) !important;
}
// Button shadows
.dy {
	box-shadow: 0 0 2px rgba(255,255,255,.12),0 2px 4px rgba(255,255,255,.24);
}
// Option button on a single email
img.FK {
	-webkit-filter: invert(0%) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Search
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Background on the buttons near the search bar
.b4 .at {
	background-color: $theme-background-toolbar !important;
}
// Button on the left of the search field
.b4 .at::before, .cb .at::before {
	box-shadow: inset 0px 0 0px 0px $theme-button-background !important;
}
// Button on the right of the search field
.b2, .gH {
	background-color: $theme-secondary-button-background !important;
}
.rj, .k5 {
	background: $theme-background-box !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Statusboxes
//----------------------------------------------------------------------------------------------------------------------------------------------------

// The statusbox in the lower right corner
.ov {
	background-color: $theme-button-background !important;
	box-shadow: 0 0 2px rgba(255,255,255,.12),0 2px 4px rgba(255,255,255,.24) !important;
}
.ov > span{
	color: $theme-text !important;
}
.ov > div > span{
	color: $theme-highlighted !important;
}

// Errorbox in the middle of the screen
.k7 {
	background: $theme-tooltip-background !important;
	color: $theme-tooltip-text !important;
}
.k7 *[role="button"] {
	background: $theme-secondary-button-background !important;
	color: $theme-button-text !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Message content
//----------------------------------------------------------------------------------------------------------------------------------------------------

.b5 {
	-webkit-filter: invert(100) !important;
	background: white !important;
}
.b5 img {
	-webkit-filter: invert(0) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Message content
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Inputboxes when sending messages
input.dm {
	background: #fff !important;
}
// Top bar on send-message box
.pr {
	background: $theme-background-toolbar !important;
}
.p2 > img {
	-webkit-filter: invert(0) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Message summaries
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Summaries of 
.m0 {
	background-color: $theme-highlighted !important;
}
.m0 span{
	color: $theme-text !important;
}
.ko, .aL.ko {
	color: $theme-tooltip-background !important;
}
.cf.ko {
	color: $theme-tooltip-text !important;
	background-color: $theme-tooltip-background !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Message composing
//----------------------------------------------------------------------------------------------------------------------------------------------------

.l1 {
	background-color: #d6d6d6 !important;
}
.hc {
	-webkit-filter: invert(0) !important;
}