//----------------------------------------------------------------------------------------------------------------------------------------------------
// Facebook Messenger skin for Darkness
//----------------------------------------------------------------------------------------------------------------------------------------------------


//----------------------------------------------------------------------------------------------------------------------------------------------------
// Update december 2020
//----------------------------------------------------------------------------------------------------------------------------------------------------


*[style*="background-image: linear-gradient"] > * {
	@include invert-back();
}

.jllm4f4h {
	@include invert-back();
}

.nred35xi {
	background-color: $theme-background !important;
}

// Input bar at bottom of chat
form .nred35xi {
	background-color: $theme-background !important;
}
// The rounded corners on the input-field
.qbubdy2e {
	fill: invert-back-color($theme-background) !important;
}

.tqsryivl {
	background-color: white !important;
}

.hybvsw6c {
	background-color: $theme-background-box !important;
}

svg path:not([fill="none"]) {
	fill: invert-back-color($theme-button-background) !important;
}


.bafdgad4 {
	background-color: $theme-background-box !important;
}

.hn33210v {
	background-color: $theme-background-toolbar !important;
}

.tdjehn4e.thwo4zme {
	background-color: $theme-background-toolbar !important;
}

.nwpbqux9 {
	box-shadow: 0 12px 28px 0 rgba(250, 250, 250, 0.1), 0 2px 4px 0 rgba(250, 250, 250, 0.2), inset 0 0 0 1px rgba(250, 250, 250, 0.5) !important;
}
.cwj9ozl2 {
	background-color: $theme-background-box !important;
}

.np69z8it {
	border-top-color: $theme-background-box !important;
}
.et4y5ytx {
	border-right-color: $theme-background-box !important;
}

div[data-scope="messages_table"] div[style*="background-color:"] {
	& {
		@include invert-back();
	}
	> * {
		@include invert-back();
		color: $theme-text !important;
	}
}

.is6700om {
	background-color: $theme-button-background !important;
}

// Likes
._576q div[data-testid="messenger_hotlike_svg"] {
	& {
		background-color: transparent !important;
	}
	path {
		fill: $theme-button-background !important;
	}
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}
// Buttons that chould look like links
._3quh,
._6ufm {
	background-color: transparent !important;
	color: $theme-button-background !important;
	border-color: transparent !important;
}
// Toggles
._6ufo {
	background-color: $theme-button-background !important;
}

// All inputs
input {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}
body {
	background-color: $theme-background !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Toolbar
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Left buttons (Settings and new message) - invert back from orange to blue
a[role="button"] {
	@include invert-back();
}
a[role="button"] svg,
a[role="button"] img {
	-webkit-filter: none !important;
}

// Different icon-button
svg._7oal,
svg._7oal path,
._30yy svg,
._30yy svg path {
	fill: invert-back-color($theme-button-background) !important;
}

//toolbar of chat
._5742,
._673w,
._6-xk,
._36ic //messenger settings
{
	border-color: $theme-background-toolbar !important;
	background:  $theme-background-toolbar !important;
}

._7sli {
	border-left: 1px solid $theme-background-toolbar !important;
	background:  $theme-background !important;
}

//drop down for settings
._54nf
{
	background-color: $theme-background-box !important;
	border-color: $theme-border !important;
	li:hover {
		background: $theme-highlighted !important;
		span{
			background: $theme-highlighted !important;
		}
	}
}
._4eby //settings popup
{
	background-color: $theme-background-box !important;
	border-color: $theme-border !important;
}
._2xhi , //converstations on side
{
	._5l-3 
	{
		background-color: $theme-background-box !important;
		border-color: $theme-border !important;
	}
}
._3rh8, //underneath messenger settings 
._4_j5 // right side bar for conversational settings
{
	background-color: $theme-background-box !important;
	border-color: $theme-border !important;

}

// Image overlay
._4-of {
	background-color: transparent !important;
}
._3qx ._3ixn,
._4-hy ._3ixn,
._99rc ._3ixn {
	background-color: rgba(255, 255, 255, .75) !important;
}
// History of images
._16zz {
	._463g,
	._463h,
	._463j {
		background: transparent !important;
	}
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// List of chats
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Small messenger (lightening) icon next to chats
._2poo {
	@include invert-back();
}
// "New chat" marking
._6zv_._6zv_ {
	background-color: $theme-highlighted !important;
}
// Background
._1wfr {
	background: $theme-background !important;
}
// Searchbar
._1nq2 {
	background: $theme-background-box !important;
}

// Active chat
._1ht1._1ht2 ._6zkc,
._1ht1._1ht2 ._6zkc ._5l-3,
._1ht1._1ht2 ._2j6 {
	background-color: $theme-highlighted-darker !important;
}

// Errors
._p0g.error, ._p0g.offline, ._p0g.notice {
	@include invert-back();
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Chat windows
//----------------------------------------------------------------------------------------------------------------------------------------------------

// turn videos back to normal
._1c_u {
	@include invert-back();
}

// Likes
._8rsr {
	fill: $theme-background !important;
}

// Button to change chat color
._6yme {
	@include invert-back();
}
// Colorselecter
._gs3 ._gs0 {
	@include invert-back();
	& > div[style*="background-image"] {
		-webkit-filter: invert(0) !important;
	}
}
// "More actions" buttons
._1li_ svg {
	& {
		-webkit-filter: invert(0) !important;
	}
	& path[fill="#0099ff"] {
		fill: $theme-button-background !important;
	}
}

// Bubble: theirs
._29_7 > ._hh7 {
	background-color: $theme-background-box !important;
	color: invert-back-color(#f0f0f0) !important;
	a {
		color: invert-back-color($theme-url) !important;
	}
}
// Options next to their bubble
._2u_d svg,
._2u_d svg path {
	fill: $theme-faint-button-background !important;
}

// Reactions
._576q {
	svg {
		-webkit-filter: invert(0) !important;
		// fill: invert-back-color($theme-background) !important;
		// rect {
		// 	fill: invert-back-color($theme-background) !important;
		// }
	}
	div {
		background-color: #FF6600 !important;
	}
}
._yav {
	background: transparent !important;
}

// Bubble: yours
// _-5k _3i_m _nd_
._nd_ ._hh7 {
	@include invert-back();
	& img {
		-webkit-filter: invert(0) !important;
	}
	& button {
		-webkit-filter: invert(1) !important;
		& svg {
			// -webkit-filter: invert(0) !important;
		}
	}
}
// options next to your bubble
._nd_ ._2u_d svg {
	fill: invert-back-color($theme-faint-button-background) !important;
}

// Checks marking delivery status
._3i_m ._2her {
	@include invert-back();
}

// Missed calls
._1k2j {
	@include invert-back();
}

// "more"-popup and "readt"-popup
._53ij {
	background: $theme-tooltip-background !important;
	color: $theme-tooltip-text !important;
}
._53ij a {
	color: $theme-tooltip-text !important;
}

// Input to message
._5irm._7mkm {
	background-color: $theme-background !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// New message
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Drop down select to message
._4p-s>._29hk:nth-child(1),
._4rv3,
._4p-s>._29hk:nth-child(2) {
	background-color: $theme-background-box !important;
	border-color: $theme-border !important;
}
._kmc ._1p1t {
	color: $theme-text-faint !important;
	-webkit-text-fill-color: $theme-text-faint !important;
}
