/* BUGS LIST */

/*
1. tags with `pa-marked="1"` can't be styled
2. footer on some sites is bugged
3. navbar on some sites is bugged
4.
5.
*/



//----------------------------------------------------------------------------------------------------------------------------------------------------
// PayPal skin for Darkness
//----------------------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// All inputs
input {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

// Toolbar background
.toolbarClass {
	background: $theme-background-toolbar !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// My unorganised (yet) Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Dark wallpaper on main page (under the navbar)
.theme-background-image-white {
	background: rgba(34,34,34,1) !important;
	@include invert-back();
}

// White PayPal logo
.pypl-logo,
.paypal-logo,
.paypal-logo-long {
	@include invert-back();
}

// Mainpage "Why paypal" section
.four-panel2 {
	background: rgba(34,34,34, 1) !important;
	@include invert-back();
	color: rgba(255, 255, 255, 0.5);
}

// Mainpage buttons fixed styles like paypal's
a.pypl-btn--blue {
	color: $theme-button-text !important;
	background: $theme-button-background !important;
}
a.pypl-btn--blue:hover {
	background: lighten($theme-button-background, 10%) !important;
}

// Mainpage navbar
.pp-header--submenu-open {
	@include invert-back();
}

// For "Why paypal" (mainpage) section again
.theme-background-color-blue {
	@include invert-back();
}

// Navbar more styles
.vx_globalNav-main,
.globalNav-main,
.js_globalNavView,
.js_ppLogo {
	@include invert-back();
	background: rgba(34,34,34,1) !important;
	border-bottom: 1px solid black !important;
}

// "Why paypal" section (mainpage) links
p.no-image-panel__paragraph a {
	@include invert-back();
}

// Fixed bugged background color to buttons on mainpage
button.generic-tabs__tabs__links,
button.selected {
	background: transparent !important;
}

// 
.panels.device-image {
	border-color: rgba(34,34,34, 1) !important;
}

.theme-background-color-blue {
	background-color: rgba(102,102,102, 1) !important;
	background-image: radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
}

p.no-image-panel__hatch-text > a {
	@include invert-back();	
}

.parallax-bg, .scroll-animate {
	// @include invert-back();
	background: rgba(34,34,34,1) !important;
	@include invert-back();
	color: rgba(255, 255, 255, 0.5);
}

section.dark {
	@include invert-back();
}

section.blue {
	@include invert-back();
	background-color: rgba(102,102,102, 1);
	background-image: radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
}

// div.editorial-cell {
// 	@include invert-back();
// }


// user-login screen

// a.paypal-img-logo {
// 	@include invert-back();
// }

// header.pp-header,
// header.table-row {
// 	@include invert-back();

// 	a.paypal-img-logo {
// 		filter: none !important;
// 	}
// }

img.icon-panel__image {
	visibility: hidden !important;
	margin-bottom: -50px;
}

a.home-hero__btn {
	color: $theme-button-text !important;
	background: $theme-button-background !important;
	@include invert-back();
}

a.home-hero__btn:hover {
	background: lighten($theme-button-background, 10%) !important;
}

p.home-hero__hatch-text {
	@include invert-back();
}

// Default border color <blue> is now invisible
a.pypl-btn--outline-blue {
	color: $theme-button-text !important;
	border-color: $theme-button-background !important;
}

// White header and subheader (better contrast)
section#three-panel > div > div > div > h2.panels__headline,
section#three-panel > div > div > div > h3.panels__subheadline {
	color: black !important;
}

// Navbar login visibility fixes
div#header-buttons > div > a#ul-btn {
	border: 1px solid white !important;
}

// Navbar
header.pp-header--submenu-close,
header.pp-header--submenu-open {
	@include invert-back();
	color: white !important;
	background-color: rgba(102,102,102, 1) !important;
	background-image: radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
}

// Navbar logo to white
header.pp-header--submenu-open > div > div > div > a.pypl-logo,
header.pp-header--submenu-close > div > div > div > a.pypl-logo {
	filter: none !important;
}

ul.submenu-col > li > a {
	color: white !important;
}

// ul.main-menu-list > li > a.pypl-header__subnav-control--is-active,
// ul.main-menu-list > li > a.mainpypl-header__subnav-control--is-highlighted {
// 	color: white !important;
// }

button.closer {
	@include invert-back();
}

header.pp-header--submenu-open > div > div > div#header-buttons > div > a,
header.pp-header--submenu-close > div > div > div#header-buttons > div > a {
	@include invert-back();
}

header.pp-header--submenu-open > div > div > nav#main-menu > ul > li > a,
header.pp-header--submenu-close > div > div > nav#main-menu > ul > li > a {
	@include invert-back();
}

header.pp-header--submenu-close::before {
	background-color: rgba(102,102,102, 1) !important;
	background-image: radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
}

section#three-panel {
	background: rgba(255, 255, 255, 0.5) !important;
}

// PayPal logo to white (register page)
.containerCentered > a.paypal-img-logo {
	@include invert-back();
}

// Login button (register page)
.containerCentered > #header-buttons > a {
	border: 1px solid white !important;	
}

// Buttons in register page
form > a#cta-btn {
	color: $theme-button-text !important;
	background: $theme-button-background !important;
}

form > span.radio-over::after {
	background: $theme-button-background !important;
}

// No image in register page + positioned h2
.containerCentered > .span7 > img.social-img {
	display: none;
}

.containerCentered {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Removed bugged border-top from footer
.footer, .footerNav {
	border-top: none !important;
}

.signup > .signup-page-header > a.signup-page-header-logo {
	@include invert-back();
}

.signup > .signup-page-header > a:nth-child(2) {
	color: $theme-button-text !important;
	background: $theme-button-background !important;
	border-color: $theme-button-background !important;
}

span.country-selector > button.country {
	@include invert-back();
}

header.table-row {
	@include invert-back();
}

header.table-row > div > div > a.paypal-img-logo {
	filter: none !important;
}

header.table-row > div > div > .header-buttons > a#ul-btn {
	color: white !important;
}

header.table-row > div > div > .header-buttons > a#signup-button {
	background: transparent !important;
	color: white !important;
}

.vx_globalNav-navContainer > nav.vx_globalNav-nav > ul > li {
	@include invert-back();
}

section.fiModule-container > div > div > a.vx_btn-medium {
	border-color: $theme-button-background !important;
}

span.fiModule-icon_attention {
	@include invert-back();
}

a.vx_btn-medium {
	border-color: $theme-button-background !important;
}

a.vx_btn {
	border-color: $theme-button-background !important;
	background: $theme-button-background !important;
}

.css-1b5y9c2 > a.active {
	border-bottom-color: $theme-button-background !important;
}

i.icon-svg {
	@include invert-back();
}

span.multiCurrency-flag {
	@include invert-back();
}

span.buttonLink-regularFontSize {
	padding: 5px;
}

.containerCentered > nav > ul > li > a {
	color: $theme-button-text !important;
	@include invert-back();
}

ul#header-Personal-menu > li > a,
ul#header-business-menu > li > a {
	color: white !important;
}

header.table-row.pp-header {
	background-image: radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
}

a.contentLink {
	@include invert-back();
}

.containerCentered > nav#main-menu > ul > li > a {
	color: black !important;
}

header[role=banner].pp-header+#main>section:not(.hero-pop-out):first-of-type {
	padding-top: 60px !important;
}

div.containerMobileFullWidth > section:nth-child(9) > div > div > div > h2,
div.containerMobileFullWidth > section:nth-child(9) > div > div > div > p {
	@include invert-back();
}

div.containerMobileFullWidth > section:nth-child(9) {
	filter: none !important;
}

div.containerMobileFullWidth > section:nth-child(8) > div > div > div > a.contentLink {
	@include invert-back();
}

section.product-hero-organism > div.theme-background-image-dark > div {
	background-image:radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
}

.theme-background-image-dark > .container > div > div > div > h1.product-hero__headline,
.theme-background-image-dark > .container > div > div > div > p.product-hero__paragraph {
	@include invert-back();
}

ul.in-page-anchors__link-list {
	background-color: transparent !important;
}

// Some button
.theme-background-image-dark > .container > div > div > div > a.product-hero__cta {
	color: $theme-button-text !important;
	background: $theme-button-background !important;
}

// Transparent line from mobile-apps page
.device-hero-organism .device-hero {
	border-bottom: 72px solid transparent !important;
}

.lightContent {
	@include invert-back();
}

a.heroBtn {
	color: white !important;
}

p.hatch > a {
	@include invert-back();
}

a.pullout__btn--center {
	@include invert-back();
}

p.pullout__hatch-text > a {
	@include invert-back();
}

.band {
	background: $theme-background-box !important;
}

p.no-image-panel__hatch-text > a {
	@include invert-back();
}

.panels.device-image {
	border-color: transparent !important;
}

.panels__device-image {
	@include invert-back();
}

.panelCTA > .legal-notes > a {
	display: none;
}

span.tick-icon {
	@include invert-back();
}

section.closing-section > div > div > a.closing-cta {
	color: $theme-button-text !important;
	background: $theme-button-background !important;
}

a.small {
	@include invert-back();
}

section.no-parallax {
	background-image: radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;

}

p.icon-panel__paragraph > a {
	@include invert-back();
}

div > section:nth-child(6) > div > div > div > a {
	filter: none !important;
}

div > section:nth-child(5) > div > div > div > a {
	filter: none !important;
}

a#hero-btn {
	@include invert-back();
}

div#BlueNav {
	@include invert-back();
}

span.icon-email-solid {
	@include invert-back();
}

// Navbar on hover blue collapse fix (actually it's still buggy)
@keyframes headerclose {
	0% {
		background-color:rgba(85,85,85, 1) !important;
		background-image:radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
	}
	40% {
		background-color:rgba(85,85,85, 1) !important;
		background-image:radial-gradient(circle farthest-side at center bottom,rgba(85,85,85, 1),rgba(34,34,34, 1) 125%) !important;
	}
	50% {
		background-image:radial-gradient(circle farthest-side at left top,rgba(85,85,85, .5),rgba(34,34,34, .75) 125%) !important;
	}
	65% {
		background-image:radial-gradient(circle farthest-side at left top,rgba(85,85,85, .65),rgba(34,34,34, .5) 125%) !important;
	}
	80% {
		background-image:radial-gradient(circle farthest-side at left top,rgba(85,85,85, .3),rgba(34,34,34, .25) 125%) !important;
	}
	90% {
		background-image:radial-gradient(circle farthest-side at left top,rgba(85,85,85, .1),rgba(34,34,34, 0.05) 125%) !important;
	}
	100% {
		background-image: none !important;
	}
}

