//----------------------------------------------------------------------------------------------------------------------------------------------------
// Storing the Trello colors as variables for ease of use
//----------------------------------------------------------------------------------------------------------------------------------------------------

// For some reason, some things have to be re-inverted
.body-dark-board-background,
.body-light-board-background,
.body-gray-board-background{
	.boards-drawer {
		background-color: invert-back-color($theme-background-toolbar) !important;
	}
	.board-drawer-content,
	.pop-over,
	.window-overlay,
	#surface,
	.badge.is-due-past,
	.badge.is-due-now,
	.badge.is-due-soon,
	.card-detail-badge.is-due-past,
	.card-detail-badge.is-due-now,
	.card-detail-badge.is-due-soon,
	.button-link .on,
	.badge.is-due-complete,
	.card-detail-badge.is-due-complete,
	.quick-card-editor,
	.ui-droppable.ui-sortable-helper {
		@include invert-back();
	}
}
// chrome chrome-64 windows body-webkit-scrollbars body-tabbed-page
// chrome chrome-64 windows body-webkit-scrollbars body-custom-board-background body-dark-board-background body-board-view

// Original colors in HEX
$trello-blue:	#0079BF;
$trello-yellow:	#D29034;
$trello-green:	#519839;
$trello-red:	#B04632;
$trello-purple:	#89609E;
$trello-pink:	#CD5A91;
$trello-mint:	#4BBF6B;
$trello-cyan:	#00AECC;
$trello-gray:	#838C91;
$star: #f2d600;

// Original colors in RGB from HEX
$trello-rgb-blue: red($trello-blue) + ", " + green($trello-blue) + ", " + blue($trello-blue);
$trello-rgb-yellow: red($trello-yellow) + ", " + green($trello-yellow) + ", " + blue($trello-yellow);
$trello-rgb-green: red($trello-green) + ", " + green($trello-green) + ", " + blue($trello-green);
$trello-rgb-red: red($trello-red) + ", " + green($trello-red) + ", " + blue($trello-red);
$trello-rgb-purple: red($trello-purple) + ", " + green($trello-purple) + ", " + blue($trello-purple);
$trello-rgb-pink: red($trello-pink) + ", " + green($trello-pink) + ", " + blue($trello-pink);
$trello-rgb-mint: red($trello-mint) + ", " + green($trello-mint) + ", " + blue($trello-mint);
$trello-rgb-cyan: red($trello-cyan) + ", " + green($trello-cyan) + ", " + blue($trello-cyan);
$trello-rgb-gray: red($trello-gray) + ", " + green($trello-gray) + ", " + blue($trello-gray);

// Percentage to darken the trello colors
$percent: 25%;

// Darkend trello colors
$trello-dark-blue:		invert-back-color(darken($trello-blue, $percent));
$trello-dark-yellow:	invert-back-color(darken($trello-yellow, $percent));
$trello-dark-green:		invert-back-color(darken($trello-green, $percent));
$trello-dark-red:		invert-back-color(darken($trello-red, $percent));
$trello-dark-purple:	invert-back-color(darken($trello-purple, $percent));
$trello-dark-pink:		invert-back-color(darken($trello-pink, $percent));
$trello-dark-mint:		invert-back-color(darken($trello-mint, $percent));
$trello-dark-cyan:		invert-back-color(darken($trello-cyan, $percent));
$trello-dark-gray:		invert-back-color(darken($trello-gray, $percent));

$trello-rgb: 	($trello-blue, $trello-rgb-blue, $trello-dark-blue), 
				($trello-yellow, $trello-rgb-yellow, $trello-dark-yellow),
				($trello-green, $trello-rgb-green, $trello-dark-green),
				($trello-red, $trello-rgb-red, $trello-dark-red),
				($trello-purple, $trello-rgb-purple, $trello-dark-purple),
				($trello-pink, $trello-rgb-pink, $trello-dark-pink),
				($trello-mint, $trello-rgb-mint, $trello-dark-mint),
				($trello-cyan, $trello-rgb-cyan, $trello-dark-cyan),
				($trello-gray, $trello-rgb-gray, $trello-dark-gray);

//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button, 
a.button-link:hover, 
.pop-over-list > li > a:hover,
.pop-over-list li.selected > a,
.pop-over-list > li.uploader:hover > .fakefile,
input[type="submit"].primary,
input[type="button"],
.quick-card-editor-buttons-item,
a.job-listing,
._1WD42rQsKIT-I6 {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// "New team"-button
button._33CvMKqfH4Yf0j {
	background-color: transparent !important;
	border-color: transparent !important;
	color: $theme-button-background !important;
}

input[type="submit"].primary,
input[type="submit"],
input[type="button"],
a.mod-primary {
	background: $theme-button-background !important;
	box-shadow: 0 0 0 $theme-button-background !important;
}
button.negate {
	box-shadow: 0 0 0 $theme-button-background !important;
}
button.negate:hover {
	background: $theme-secondary-button-background !important;
}
a.job-listing{
	background: $theme-button-background !important;
	box-shadow: 0 0 0 $theme-button-background !important;
}
._2Xk8hpIqkjJ49i._1yvgNxMUZtEUOI,
.js-star-board {
	@include invert-back();
}
.dialog-close-button,
.dialog-close-button span,
.visibility-filter span,
.visibility-filter {
	background: transparent !important;
	background-color: transparent !important;
	color: $theme-button-background !important;
}

// Login with google
#google-link, #google {
	@include invert-back();
}

// All inputs
input, textarea {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

// links
a:visited {
	color: $theme-link !important;
}

// Homepage left menu
.home-left-sidebar-container {
	// Active page
	.AqhrxyGOPcyvoq._1hc34_9rc6xcjf, 
	.AqhrxyGOPcyvoq._2StUnMlO8T43Gd {
		background-color: $theme-highlighted-darker !important;
		span:first-child {
			color: $theme-notices !important;
		}
	}
}

// The homepage when logged in
.body-tabbed-page,
.member-boards-view, 
.member-boards-view.super-home {
	background: $theme-background !important;
}
.up-next-card-list-item > div,
.dhmfCv,
.hiqYnm,
.krepCm {
	background: $theme-background-box !important;
}
.canonical-comment > div > div > span {
	@include invert-back();
}
.up-next-card-list-item .atMention.me,
.home-activity .atMention.me {
	color: $theme-highlighted !important;
}
.board-tile[style*="background-image:"] .board-tile-details-name {
	color: white !important;
}
.board-tile-details-name {
	color: black !important;
}
.canonical-stretch {
	@include invert-back();
}
.canonical-stretch .sc-bxivhb {
	@include invert-back();
}
.cMpGUA > * {
	@include invert-back();
}
.canonical-comment > div {
	background: $theme-background-box !important;
}
.cXkHdx .sc-ifAKCX {
	@include invert-back();
}
.home-left-sidebar-container .home-tab-container .home-tab.selected {
	background: $theme-highlighted !important;
}
.home-right-sidebar-container button {
	background-color: transparent !important;
}
span.tile__selected__1yvgN {
	@include invert-back();
}
.idhQuy,
.hEURDk {
	@include invert-back();
}
.cXRfpp {
	background: transparent !important;
}
.XwjoIA6WQIxxgb._38Hb42Tqr7ZDDK {
	@include invert-back();
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Handling setting darker trello colors
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Default background
body, .body-tabbed-page {
	background-color: $theme-background !important;
}

@each $color, $rgb, $dark in $trello-rgb {
	.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$rgb});'] {
		-webkit-filter: invert(0) !important;
	}
	div[data-test-id="header-boards-menu-popover"] div[style='background-image: url("null"); background-color: rgb(#{$rgb});'] {
		background-color: invert-back-color($dark) !important;
	}
	body[style*="background-color: rgb(#{$rgb});"],
	#trello-root[style*="background-color: rgb(#{$rgb});"],
	#classic-body[style*="background-color: rgb(#{$rgb});"],
	.background-box[style*="background-color: #{$rgb};"],
	.js-fill-background-preview[style*="background-color: rgb(#{$rgb});"],
	.compact-board-tile-link-thumbnail[style*="background-color: #{$color};"],
	.compact-board-tile-background[style*="background-color: #{$color};"],
	.board-tile[style*="background-color: rgb(#{$rgb});"],
	.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$rgb});"] {
		background-color: $dark !important;
	}
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Background images
//----------------------------------------------------------------------------------------------------------------------------------------------------

.board-backgrounds-section-tile.js-bg-photos .image {
	-webkit-filter: invert(1) !important;
}

// When an image is used as background
body[style*="background-image:"] {
	-webkit-filter: invert(0) !important;
}
body[style*="background-image:"] > #surface, 
body[style*="background-image:"] > #drk_settings_html, 
body[style*="background-image:"] > #drk_page_html, 
body[style*="background-image:"] > .window-overlay, 
body[style*="background-image:"] > .quick-card-editor, 
body[style*="background-image:"] > .pop-over, 
body[style*="background-image:"] > #notification, 
body[style*="background-image:"] > .plugin-overlay, 
body[style*="background-image:"] > #boards-drawer {
	-webkit-filter: invert(1) !important;
}
body[style*="background-image:"] > #boards-drawer {
	position: relative !important;
	z-index: 60 !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Icons and misc
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Icons
.icon-search, 
span.pv4EOUnR9L6jBk, 
._3Equ0AwjtQdiIh, 
span._1iYprMLTeGpyW9, 
._2baX9YmlCebcUG .jsFZPPoodAkUaL, 
._3Xj1tqB73NcWn3, 
.blnwmcZ7xZI8tg ._1ueCKUcugKYqhU {
	color: $theme-text !important;
}

// Upgrade-button for teams
.upgrade-prompt-button {
	background-color: $theme-highlighted !important;
	> div:first-child {
		background-color: darken($theme-highlighted, 15%) !important;
		span {
			color: black !important;
		}
	}
	> div:last-child {
		color: black !important;
	}
}

// User avatar
.bXFhPW {
	@include invert-back();
}

// Logos
.header-logo-default, 
.header-logo-loading,
.header-btn-icon,
._1q-xxtNvcdFBca, 
.global-header-section-logo.mod-black {
	@include invert-back();
}

// Badge when all tasks in a card are completed
.badge.is-complete {
	@include invert-back();
}

// Task-progress-bar
.checklist-progress-bar-current.js-checklist-progress-bar:not(.checklist-progress-bar-current-complete) {
	background: $theme-notices !important;
}
.checklist-progress-bar-current.js-checklist-progress-bar.checklist-progress-bar-current-complete {
	@include invert-back();
}

// Lists
.list {
	background: $theme-background !important;
}
.list-card {
	background-color: $theme-background-box !important;
}

// Add board
.board-tile.mod-add {
	background-color: $theme-background-box !important;
}

// Cards
.card-label {
	@include invert-back();
}
.window {
	background-color: $theme-background !important;
}
.deRXfE {
	background-color: $theme-background-box !important;
}

// Card and list titles
.mod-card-back-title,
.list-card-edit-title,
.list-card-composer-textarea,
.list-header-name {
	background-color: transparent !important;
}

// Dark fade when fading background elements
.window-overlay {
	background-color: rgba(150,150,150,0.6) !important;
}
.quick-card-editor {
	background-color: rgba(200,200,200,0.6) !important;
}

// Attatched images
.attachment-viewer-frame-preview-image {
	-webkit-filter: invert(0) !important;
}

// Header bar
#header {
	background: $theme-background-toolbar !important;
}
.body-board-view #header {
	background: rgba(255,255,255,.15) !important;
}
// Board name
.board-header-btn-name .board-header-btn-text,
._2sW4tjfiXjrots {
	color: rgba(256,256,256,0.5) !important;
}
// Board team
._1-vN8NL177VLaD {
	color: rgba(200,200,200,0.5) !important;
}
// Team groups, headers
._3VPAPxMuDaGlU3 {
	color: $theme-url !important;
}

// Boards-popover-menu 
.khihAkM9Ux6EHW {
	background-color: invert-back-color($theme-background-toolbar) !important;
	form {
		@include invert-back();
	}
}
#trello-root:not(.body-dark-board-background):not(.body-light-board-background):not(.body-gray-board-background) {
	.khihAkM9Ux6EHW {
		@include invert-back();
	}
}

// Boards
._3LO8BCnYMEeBzC:before,
._26ZVKC32nK5LUz:before {
	background: black !important;
	opacity: 0.6 !important;
}
// Board backgroundimage
._1-xqt-RbCBt-Sv div[style*="background-image:"] {
	-webkit-filter: invert(0) !important;
}
// star board
._1Iv-11Wutx7UNK button,
._1-xqt-RbCBt-Sv button {
	background-color: transparent !important;
}
.j3V1IT4DDVNieg span[name=star] {
	color: $star !important;
}
._2wu8NkXkdivxpw._2XH3eISfyp3NpN span[name=star] {
	color: invert-back-color($star) !important;
}
// Minimize button
._2nlCooRQipe5Hi {
	background-color: transparent !important;
}

// Buttons at the bottom of boards-menu
.bHF9FML4QxCHFM {
	background: transparent !important;
	color: $theme-url !important;
}

// Active home
._2OJyF5qancPNze._2wv_gyeqs9bKWb, 
._2OJyF5qancPNze._8N7ns-Iq6PpYlR {
	background-color: $theme-highlighted !important;
}

// User-menu
._3MObgarisLfMFh,
._2b-xS2onqCL250 {
	background-color: $theme-background-toolbar !important;
}
._2b-xS2onqCL250:active, ._2b-xS2onqCL250:hover {
	background-color: lighten($theme-background-toolbar, 10%) !important;
}

// Download section
.promo-platforms-app-item-image,
.promo-platforms-browser-item-image {
	@include invert-back();
}

// Notifications
._3x-nkpDCkyBbHg, .notification-actions {
	background-color: $theme-background-toolbar !important;
}
#notification div.app-alert-item {
	background-color: $theme-notices !important;
	color: $theme-tooltip-text !important;
	font-weight: normal !important;
}
#notification a.app-alert-item-button {
	background-color: $theme-secondary-button-background !important;
	color: $theme-button-text !important;
}

// Viewing attatchments
iframe.attachment-viewer-frame-preview-iframe {
	-webkit-filter: invert(0) !important;
}

// React-buttons on home
.eykGfP {
	background: transparent !important;
}

// Popup drawers
.js-react-root {
	#layer-manager-popover > div {
		background-color: $theme-background-toolbar !important;
		> div:first-child,
		> div:last-child {
			button {
				background-color: transparent !important;
			}
		}
		button[data-test-id="view-all"],
		button[data-test-id="mark-all-read-button"] {
			background-color: transparent !important;
		}
		div[data-test-id="unread-notification"] {
			background: transparent !important;
		}
	}
}
// Notification highlight in toolbar
button._3W-zkl4-bnVKzJ,
button._3W-zkl4-bnVKzJ:hover {
	background: $theme-tooltip-background !important;
	span {
		color: $theme-tooltip-text !important;
	}
}

// Notifications
.phenom.mod-is-card, 
.phenom.mod-is-card.mod-unread, 
.phenom.mod-is-not-card, 
.phenom.mod-is-not-card.mod-unread {
	background: $theme-background-box !important;
}

.phenom.mod-is-card .canonical-card div:first-child, 
.phenom.mod-is-card.mod-unread .canonical-card div:first-child, 
.phenom.mod-is-not-card .canonical-card div:first-child, 
.phenom.mod-is-not-card.mod-unread .canonical-card div:first-child {
	@include invert-back();
}
.phenom.mod-is-card .canonical-card div:first-child > *, 
.phenom.mod-is-card.mod-unread .canonical-card div:first-child > *, 
.phenom.mod-is-not-card .canonical-card div:first-child > *, 
.phenom.mod-is-not-card.mod-unread .canonical-card div:first-child > * {
	@include invert-back();
}

// Due soon on notifications
.jjCnMv {
	@include invert-back();
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Sites not requiring login
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Background images
.background-trellists,
.header-section.layout-centered {
	@include invert-back();
}
.header-section.layout-centered .button {
	-webkit-filter: invert(1) !important;
}

// Blue elements
.mod-trello-blue,
.background-blue {
	background-color: $trello-dark-blue !important;
}
.background-business-blue {
	background-color: $trello-blue !important;
	@include invert-back();
}
.mod-trello-blue .page-header-content {
	color: #000 !important;
}
.mod-trello-blue .page-header-nav {
	color: $theme-button-background !important;
	background-color: invert-back-color($trello-blue) !important;
}
.mod-trello-blue .page-header-nav a.is-active {
	background-color: invert-back-color(darken($trello-blue, 5%)) !important;
}

// White text
.mod-white-text {
	color: #000 !important;
}

// Pink elements
.background-pink-purple {
	background-color: $trello-dark-pink !important;
	background: $trello-dark-pink !important;
}

.layout-love {
	background-color: invert-back-color($trello-blue) !important;
}

.background-dark-bc {
	background-color: $trello-dark-blue !important;
}

.background-light-purple {
	@include invert-back();
}
.background-light-purple img {
	-webkit-filter: invert(0) !important;
}

.background-sky {
	background: invert-back-color(#29cce5) !important;
}