//----------------------------------------------------------------------------------------------------------------------------------------------------
// Storing the Trello colors as variables for ease of use
//----------------------------------------------------------------------------------------------------------------------------------------------------

// For some reason, some things have to be re-inverted
.body-dark-board-background,
.body-light-board-background,
.body-gray-board-background{
	.boards-drawer {
		background-color: invert-back-color($theme-background-toolbar) !important;
	}
	.board-drawer-content,
	.pop-over,
	.window-overlay,
	#surface,
	.is-due-past {
		@include invert-back();
	}
}
// chrome chrome-64 windows body-webkit-scrollbars body-tabbed-page
// chrome chrome-64 windows body-webkit-scrollbars body-custom-board-background body-dark-board-background body-board-view

// Original colors in HEX
$trello-blue:	#0079BF;
$trello-yellow:	#D29034;
$trello-green:	#519839;
$trello-red:	#B04632;
$trello-purple:	#89609E;
$trello-pink:	#CD5A91;
$trello-mint:	#4BBF6B;
$trello-cyan:	#00AECC;
$trello-gray:	#838C91;

// Original colors in RGB from HEX
$trello-rgb-blue: red($trello-blue) + ", " + green($trello-blue) + ", " + blue($trello-blue);
$trello-rgb-yellow: red($trello-yellow) + ", " + green($trello-yellow) + ", " + blue($trello-yellow);
$trello-rgb-green: red($trello-green) + ", " + green($trello-green) + ", " + blue($trello-green);
$trello-rgb-red: red($trello-red) + ", " + green($trello-red) + ", " + blue($trello-red);
$trello-rgb-purple: red($trello-purple) + ", " + green($trello-purple) + ", " + blue($trello-purple);
$trello-rgb-pink: red($trello-pink) + ", " + green($trello-pink) + ", " + blue($trello-pink);
$trello-rgb-mint: red($trello-mint) + ", " + green($trello-mint) + ", " + blue($trello-mint);
$trello-rgb-cyan: red($trello-cyan) + ", " + green($trello-cyan) + ", " + blue($trello-cyan);
$trello-rgb-gray: red($trello-gray) + ", " + green($trello-gray) + ", " + blue($trello-gray);

// Percentage to darken the trello colors
$percent: 25%;

// Darkend trello colors
$trello-dark-blue:		invert-back-color(darken($trello-blue, $percent));
$trello-dark-yellow:	invert-back-color(darken($trello-yellow, $percent));
$trello-dark-green:		invert-back-color(darken($trello-green, $percent));
$trello-dark-red:		invert-back-color(darken($trello-red, $percent));
$trello-dark-purple:	invert-back-color(darken($trello-purple, $percent));
$trello-dark-pink:		invert-back-color(darken($trello-pink, $percent));
$trello-dark-mint:		invert-back-color(darken($trello-mint, $percent));
$trello-dark-cyan:		invert-back-color(darken($trello-cyan, $percent));
$trello-dark-gray:		invert-back-color(darken($trello-gray, $percent));

//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button, 
a.button-link:hover, 
.pop-over-list > li > a:hover,
.pop-over-list li.selected > a,
.pop-over-list > li.uploader:hover > .fakefile,
input[type="submit"].primary,
input[type="button"],
.quick-card-editor-buttons-item,
a.job-listing {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

input[type="submit"].primary,
input[type="submit"],
input[type="button"],
a.mod-primary {
	background: $theme-button-background !important;
	box-shadow: 0 0 0 $theme-button-background !important;
}
button.negate {
	box-shadow: 0 0 0 $theme-button-background !important;
}
button.negate:hover {
	background: $theme-secondary-button-background !important;
}
a.job-listing{
	background: $theme-button-background !important;
	box-shadow: 0 0 0 $theme-button-background !important;
}
.js-star-board {
	@include invert-back();
}
.dialog-close-button,
.dialog-close-button span,
.visibility-filter span,
.visibility-filter {
	background: transparent !important;
	background-color: transparent !important;
	color: $theme-button-background !important;
}

// Login with google
#google-link, #google {
	@include invert-back();
}

// All inputs
input, textarea {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

// links
a:visited {
	color: $theme-link !important;
}

// The homepage when logged in
.body-tabbed-page,
.member-boards-view, 
.member-boards-view.super-home {
	background: $theme-background !important;
}
.up-next-card-list-item > div, .dhmfCv, .hiqYnm {
	background: $theme-background-box !important;
}
.canonical-comment > div > div > span {
	@include invert-back();
}
.up-next-card-list-item .atMention.me,
.home-activity .atMention.me {
	color: $theme-highlighted !important;
}
.board-tile[style*="background-image:"] .board-tile-details-name {
	color: invert-back-color($theme-highlighted) !important;
}
.board-tile-details-name {
	color: $theme-highlighted !important;
}
.canonical-stretch {
	@include invert-back();
}
.canonical-stretch .sc-bxivhb {
	@include invert-back();
}
.cMpGUA > * {
	@include invert-back();
}
.canonical-comment > div {
	background: $theme-background-box !important;
}
.cXkHdx .sc-ifAKCX {
	@include invert-back();
}
.home-left-sidebar-container .home-tab-container .home-tab.selected {
	background: $theme-highlighted !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Handling setting darker trello colors
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Default background
body, .body-tabbed-page {
	background-color: $theme-background !important;
}

// Color change preview
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-blue});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-yellow});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-green});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-red});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-purple});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-pink});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-mint});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-cyan});'],
.js-fill-background-preview[style='background-image: url("undefined"); background-color: rgb(#{$trello-rgb-gray});'] {
	-webkit-filter: invert(0) !important;
}

// Blue elements
body[style*="background-color: rgb(#{$trello-rgb-blue});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-blue});"],
.background-box[style*="background-color: #{$trello-blue};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-blue});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-blue};"],
.compact-board-tile-background[style*="background-color: #{$trello-blue};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-blue});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-blue});"] {
	background-color: $trello-dark-blue !important;
}
// Yellow elements
body[style*="background-color: rgb(#{$trello-rgb-yellow});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-yellow});"],
.background-box[style*="background-color: #{$trello-yellow};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-yellow});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-yellow};"],
.compact-board-tile-background[style*="background-color: #{$trello-yellow};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-yellow});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-yellow});"] {
	background-color: $trello-dark-yellow !important;
}
// Green elements
body[style*="background-color: rgb(#{$trello-rgb-green});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-green});"],
.background-box[style*="background-color: #{$trello-green};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-green});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-green};"],
.compact-board-tile-background[style*="background-color: #{$trello-green};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-green});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-green});"] {
	background-color: $trello-dark-green !important;
}
// Red elements
body[style*="background-color: rgb(#{$trello-rgb-red});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-red});"],
.background-box[style*="background-color: #{$trello-red};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-red});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-red};"],
.compact-board-tile-background[style*="background-color: #{$trello-red};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-red});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-red});"] {
	background-color: $trello-dark-red !important;
}
// Purple elements
body[style*="background-color: rgb(#{$trello-rgb-purple});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-purple});"],
.background-box[style*="background-color: #{$trello-purple};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-purple});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-purple};"],
.compact-board-tile-background[style*="background-color: #{$trello-purple};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-purple});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-purple});"] {
	background-color: $trello-dark-purple !important;
}
// Pink elements
body[style*="background-color: rgb(#{$trello-rgb-pink});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-pink});"],
.background-box[style*="background-color: #{$trello-pink};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-pink});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-pink};"],
.compact-board-tile-background[style*="background-color: #{$trello-pink};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-pink});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-pink});"] {
	background-color: $trello-dark-pink !important;
}
// Mint elements
body[style*="background-color: rgb(#{$trello-rgb-mint});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-mint});"],
.background-box[style*="background-color: #{$trello-mint};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-mint});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-mint};"],
.compact-board-tile-background[style*="background-color: #{$trello-mint};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-mint});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-mint});"] {
	background-color: $trello-dark-mint !important;
}
// Cyan elements
body[style*="background-color: rgb(#{$trello-rgb-cyan});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-cyan});"],
.background-box[style*="background-color: #{$trello-cyan};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-cyan});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-cyan};"],
.compact-board-tile-background[style*="background-color: #{$trello-cyan};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-cyan});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-cyan});"] {
	background-color: $trello-dark-cyan !important;
}
// Gray elements
body[style*="background-color: rgb(#{$trello-rgb-gray});"],
#classic-body[style*="background-color: rgb(#{$trello-rgb-gray});"],
.background-box[style*="background-color: #{$trello-gray};"],
.js-fill-background-preview[style*="background-color: rgb(#{$trello-rgb-gray});"],
.compact-board-tile-link-thumbnail[style*="background-color: #{$trello-gray};"],
.compact-board-tile-background[style*="background-color: #{$trello-gray};"],
.board-tile[style*="background-color: rgb(#{$trello-rgb-gray});"],
.board-backgrounds-section-tile > .image[style*="background-color: rgb(#{$trello-rgb-gray});"] {
	background-color: $trello-dark-gray !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Background images
//----------------------------------------------------------------------------------------------------------------------------------------------------

.board-backgrounds-section-tile.js-bg-photos .image {
	-webkit-filter: invert(1) !important;
}

// When an image is used as background
body[style*="background-image:"] {
	-webkit-filter: invert(0) !important;
}
body[style*="background-image:"] > #surface, 
body[style*="background-image:"] > #drk_settings_html, 
body[style*="background-image:"] > #drk_page_html, 
body[style*="background-image:"] > .window-overlay, 
body[style*="background-image:"] > .quick-card-editor, 
body[style*="background-image:"] > .pop-over, 
body[style*="background-image:"] > #notification, 
body[style*="background-image:"] > .plugin-overlay, 
body[style*="background-image:"] > #boards-drawer {
	-webkit-filter: invert(1) !important;
}
body[style*="background-image:"] > #boards-drawer {
	position: relative !important;
	z-index: 60 !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Icons and misc
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Icons
.icon-search {
	color: black !important;
}

// Logos
.header-logo-default, 
.header-logo-loading,
.header-btn-icon,
.global-header-section-logo.mod-black {
	@include invert-back();
}

// Badge when all tasks in a card are completed
.badge.is-complete {
	@include invert-back();
}

// Task-progress-bar
.checklist-progress-bar-current.js-checklist-progress-bar:not(.checklist-progress-bar-current-complete) {
	background: $theme-notices !important;
}
.checklist-progress-bar-current.js-checklist-progress-bar.checklist-progress-bar-current-complete {
	@include invert-back();
}

// Board menu
.board-wrapper.is-show-menu .board-menu {
	box-shadow: none !important;
}
.board-menu-tab-content {
	background-color: $theme-background-toolbar !important;
}
.boards-drawer{
	background-color: $theme-background-toolbar !important;
}

// Lists
.list {
	background: $theme-background !important;
}
.list-card {
	background-color: $theme-background-box !important;
}

// Add board
.board-tile.mod-add {
	background-color: $theme-background-box !important;
}

// Cards
.card-label {
	@include invert-back();
}
.window {
	background-color: $theme-background !important;
}

// Card and list titles
.mod-card-back-title,
.list-card-edit-title,
.list-card-composer-textarea,
.list-header-name {
	background-color: transparent !important;
}

// Dark fade when fading background elements
.window-overlay {
	background-color: rgba(150,150,150,0.6) !important;
}
.quick-card-editor {
	background-color: rgba(200,200,200,0.6) !important;
}

// Attatched images
.attachment-viewer-frame-preview-image {
	-webkit-filter: invert(0) !important;
}

// Header bar
#header {
	background: $theme-background-toolbar !important;
}
.body-board-view #header {
	background: rgba(255,255,255,.15) !important;
}

// Download section
.promo-platforms-app-item-image,
.promo-platforms-browser-item-image {
	@include invert-back();
}

// Notifications
#notification div.app-alert-item {
	background-color: $theme-notices !important;
	color: $theme-tooltip-text !important;
	font-weight: normal !important;
}
#notification a.app-alert-item-button {
	background-color: $theme-secondary-button-background !important;
	color: $theme-button-text !important;
}

// Viewing attatchments
iframe.attachment-viewer-frame-preview-iframe {
	-webkit-filter: invert(0) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Sites not requiring login
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Background images
.background-trellists,
.header-section.layout-centered {
	@include invert-back();
}
.header-section.layout-centered .button {
	-webkit-filter: invert(1) !important;
}

// Blue elements
.mod-trello-blue,
.background-blue {
	background-color: $trello-dark-blue !important;
}
.background-business-blue {
	background-color: $trello-blue !important;
	@include invert-back();
}
.mod-trello-blue .page-header-content {
	color: #000 !important;
}
.mod-trello-blue .page-header-nav {
	color: $theme-button-background !important;
	background-color: invert-back-color($trello-blue) !important;
}
.mod-trello-blue .page-header-nav a.is-active {
	background-color: invert-back-color(darken($trello-blue, 5%)) !important;
}

// White text
.mod-white-text {
	color: #000 !important;
}

// Pink elements
.background-pink-purple {
	background-color: $trello-dark-pink !important;
	background: $trello-dark-pink !important;
}

.layout-love {
	background-color: invert-back-color($trello-blue) !important;
}

.background-dark-bc {
	background-color: $trello-dark-blue !important;
}

.background-light-purple {
	@include invert-back();
}
.background-light-purple img {
	-webkit-filter: invert(0) !important;
}

.background-sky {
	background: invert-back-color(#29cce5) !important;
}