//----------------------------------------------------------------------------------------------------------------------------------------------------
// General Elements Styling
//----------------------------------------------------------------------------------------------------------------------------------------------------

// All buttons
button {
	background-color: $theme-button-background !important;
	color: $theme-button-text !important;
	border-color: $theme-border !important;
}

// All inputs
input {
	color: $theme-textbox-text;
	background-color: $theme-textbox-background;
	border-color: $theme-border;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// left menu
//----------------------------------------------------------------------------------------------------------------------------------------------------

// Toolbar background
#left_col nav.warp {
	background: $theme-background !important;
}

.warp__item--toggled svg {
	-webkit-filter: invert(0) !important;
}

#left_col .warp__item--anchor {
	background: lighten($theme-background, 2%) !important;
}
.warp .arrow:before {
	border-top: 2px solid rgba(0,0,0,.6) !important;
    border-left: 2px solid rgba(0,0,0,.6) !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Primary content
//----------------------------------------------------------------------------------------------------------------------------------------------------

.warp__item--toggled {
	background: rgba(255,255,255,.5);
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Chat
//----------------------------------------------------------------------------------------------------------------------------------------------------
