//====================================================================================================================================================
// Minimal CSS for the moon icon on the top-right corner of websites
// The CSS is injected to supported websites only, upon page load
// Does not include the settings panel and other dialog, which are loaded upon click
//====================================================================================================================================================

$darkness-z-index-base: 2147400000;

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Moon icon
//----------------------------------------------------------------------------------------------------------------------------------------------------
div.drk_settings_icon {
	z-index: $darkness-z-index-base !important;
	cursor: pointer !important;
	position: fixed !important;
	right: 10px !important;
	top: 10px !important;
	width: 29px !important;
	height: 29px !important;
	background: Transparent url('chrome-extension://__MSG_@@extension_id__/images/darkness-icon-in-page.png') no-repeat center !important;
	background-size: cover !important;
	opacity: 0.85 !important;
	transition: opacity .25s ease-in-out !important;
	&:hover {
		opacity: 1 !important;
		transition: opacity 0s !important;
	}
}

body[data-drk-promo="s"] div.drk_settings_icon {
	background: Transparent url('chrome-extension://__MSG_@@extension_id__/images/darkness-icon-in-page-promo.png') no-repeat center !important;
	width: 31px !important;
}

body[data-drk-site-support="ask-developers"] div.drk_settings_icon {
	background: Transparent url('chrome-extension://__MSG_@@extension_id__/images/darkness-icon-in-page-ask-developers.png') no-repeat center !important;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------
// Position the moon icon in the toolbar, adjust the toolbar (based on website)
//----------------------------------------------------------------------------------------------------------------------------------------------------
body[data-drk-site="google"],
body[data-drk-site="gmail"] {
	// If logged in: the avatar on the right side of toolbar
	.gb_R {
		margin-right: 25px !important;
	}
	.gb_R .gb_R {
		margin-right: 0 !important;
	}

	// If logged out: the "Sign in" button in the right side of the toolbar
	.gb_Ha {
		margin-right: 25px !important;
	}

	div.drk_settings_icon {
		position: fixed !important;
		top: 15px !important;
	}
}
body[data-drk-site="google"].hp {
	div.drk_settings_icon {
		top: 17px !important;
	}
}

body[data-drk-site="cloudflare"] {
	nav.header-navigation {
		margin-right: 3rem !important;
	}
	div.drk_settings_icon {
		top: 17px !important;
	}
}
body[data-drk-site="google"] {
	div.drk_settings_icon {
		position: absolute !important;
		top: 29px !important;
	}
}
body[data-drk-site="quora"] {
	div.drk_settings_icon {		
		top: 12px !important;
		right: 10px !important;
	}
}
body[data-drk-site="jsfiddle"] {
	#actions .right {
		margin-right: 47px !important;
	}
	div.drk_settings_icon {		
		top: 12px !important;
		right: 12px !important;
	}
}
body[data-drk-site="wikipedia"] {
	#p-personal {
		margin-right: 40px !important;
	}
	div.drk_settings_icon {
		position: absolute !important;
		top: 6px !important;
		right: 12px !important;
	}
}
body[data-drk-site="googledrive"] {
	.gb_rc,
	.gb_yc.gb_Zd,
	.gb_Ac.gb_1d,
	.gb_zc,
	.gb_Dc {
		padding-right: 38px;
	}
	div.drk_settings_icon {
		top: 17px !important;
		right: 12px !important;
	}
}
body[data-drk-site="bitbucket"] {
	div.drk_settings_icon {
		top: 6px !important;
		right: 7px !important;
	}
	.aui-header .aui-header-secondary .aui-nav {
		margin-right: 25px !important;
	}
}

body[data-drk-site="twitter"] {
	div.drk_settings_icon {
		top: 9px !important;
	}
	.nav-extras {
		padding-right: 32px !important;
	}
}
body[data-drk-site="mint"] {
	div.drk_settings_icon {
		top: 13px !important;
	}
	.login-signup-menu {
		padding-right: 38px !important;
	}
}
body[data-drk-site="twitch"] {
	.top-nav__menu > div:last-child {
		padding-right: 38px !important;
	}
}
@media (min-width: 1300px){
	body[data-drk-site="twitter"] {
		.nav-extras {
			padding-right: 0px !important;
		}
	}
}

body[data-drk-site="sharelatex"] {
	.toolbar-header > .toolbar-right {
		margin-right: 48px !important;
	}

	div.drk_settings_icon {
		top: 6px !important;
		right: 8px !important;
	}
}

body[data-drk-site="dropbox"] {
	.react-title-bar__action-wrap {
		margin-right: 40px !important;
	}
	div.drk_settings_icon {
		right: 4px !important;
		top: 18px !important;
	}
}
body[data-drk-site="dropbox"].None {
	.account-menu {
		margin-right: 26px !important;
	}
}

body[data-drk-site="googlecalendar"] {
	div.drk_settings_icon {
		top: 16px !important;
	}
	.gb_hb,
	.gb_zc,
	.gb_Dc {
		padding-right: 32px !important;
	}
}

body[data-drk-site="googlecontacts"] {
	div.drk_settings_icon {
		top: 17px !important;
	}
	ul li.drk_button_li {
		opacity: 1 !important;
	}
	.gb_zc,
	.gb_Dc {
		margin-right: 30px !important;
	}
}

body[data-drk-site="googledocs"] {
	.docs-titlebar-buttons {
		padding-right: 52px !important;
	}
	
	// If logged in: the avatar on the right side of toolbar
	.gb_cb.gb_R,
	.gb_ic.gb_R,
	.gb_zc.gb_2d,
	.gb_db.gb_R {
		margin-right: 33px !important;
	}

	// If logged out: the "Sign in" button in the right side of the toolbar
	.gb_Ha {
		margin-right: 33px !important;
	}

	div.drk_settings_icon {
		position: fixed !important;
		top: 17px !important;
	}
}
body[data-drk-site="googlephotos"] {
	// If logged in: the avatar on the right side of toolbar
	#gb > div > div {
		padding-right: 47px !important;
	}
	// buttons for full-screen viewing
	.c9yG5b {
		padding-right: 17px !important;
	}

	ul li.drk_button_li {
		opacity: 1 !important;
	}
	div.drk_settings_icon {
		position: fixed !important;
		top: 17px !important;
	}
}
body[data-drk-site="googleinbox"] {
	// Menu in the right side of toolbar
	.k2 {
		right: 25px !important;
	}
	div.drk_settings_icon {
		position: fixed !important;
		top: 13px !important;
	}
}

body[data-drk-site="youtube"] {
	// If logged in: user controls on the right side of toolbar
	#yt-masthead-account-picker {
		margin-right: 28px !important;
	}

	// If logged out: the "Sign in" button in the right side of the toolbar
	.signin-container {
		margin-right: 28px !important;
	}

	div.drk_settings_icon {
		position: fixed !important;
		top: 9px !important;
	}

	// The new "Polymer" design
	div.ytd-masterhead {
		margin-right: 20px !important;
	}
	div.drk_settings_icon {
		top: 13px !important;
	}
	// Polymer, user menu
	div#end.ytd-masthead {
		margin-right: 20px !important;
	}
}

body[data-drk-site="facebook"] {
	div.drk_settings_icon {
		position: fixed !important;
		top: 7px !important;
	}
}

body[data-drk-site="messenger"] {
	._fl2 {
		right: 42px !important
	}
	div.drk_settings_icon {
		position: fixed !important;
		top: 9px !important;
		right: 9px !important;
	}
}


body[data-drk-site="github"] {
	div.drk_settings_icon {
		position: fixed !important;
		top: 13px !important;
		right: 12px !important;
	}
}

body[data-drk-site="stackoverflow"],
body[data-drk-site="serverfault"] {
	div.drk_settings_icon {
		position: fixed !important;
		top: 12px !important;
		right: 5px !important;
	}
}

body[data-drk-site="amazon"] {
	div.drk_settings_icon {
		position: absolute !important;
	}
}

body[data-drk-site="reddit"] {
	div.drk_settings_icon {
		position: absolute !important;
		top: 18px !important;
		right: 0px !important;
	}
}

body[data-drk-site="trello"] {
	.header-user {
		right: 35px !important;
	}
	div.drk_settings_icon {
		position: fixed !important;
		top: 5px !important;
		right: 6px !important;
	}
}

body[data-drk-site="w3schools"] {
	div.drk_settings_icon {
		top: 7px !important;
	}
	.w3-navbar > .w3-right {
		margin-right: 48px !important;
	}
	.w3-navbar > .w3-right ~ .w3-right {
		margin-right: 0px !important;
	}
}


//----------------------------------------------------------------------------------------------------------------------------------------------------
// Global message to user (e.g. conflict found with another extension)
//----------------------------------------------------------------------------------------------------------------------------------------------------
.drk_settings_global_msg {
	-webkit-filter: invert(100%) !important;
	display: none !important;
	z-index: $darkness-z-index-base !important;
	cursor: pointer !important;
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	background: rgba(60, 60, 60, 0.97) !important;
	box-shadow: 0 -2px -4px rgba(0, 0, 0, 1) !important;
	text-shadow: none !important;
	color: #ffd400 !important;
	font-size: 14px !important;
	font-family: Arial, sans-serif !important;
	font-weight: normal !important;
	padding: 15px 20px !important;
	transition: opacity .25s ease-in-out !important;
	.drk_settings_global_msg_close {
		float: right;
		padding-left: 30px !important;
		color: #ddd !important;
		display: inline-block !important;
		text-decoration: underline !important;
	}
}